<!-- <div class="social">
  {% for item in site.data.social %}
  <a href="{{ item.link }}" target="blank"><img src="{{ item.image | relative_url }}" title="{{ item.name }}"
      alt="{{ item.name }}" /></a>
  {% endfor %}
</div> -->

<div class="copyright">    
  <a href="/privacy-policy" style="font-weight: inherit">Polityka prywatności</a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <a href="https://aplikacja.ceidg.gov.pl/CEIDG/CEIDG.Public.UI/SearchDetails.aspx?Id=1aa8a903-469e-430e-9387-3672283536ad"
  target="_blank" rel="noopener noreferrer" style="font-weight: inherit">
  Rejestr CEIDG&nbsp;&nbsp;<img src="/images/arrow.svg" alt="CEIDG (nowe okno)"
    style="height:15px;width:15px;"></a>
</div>