---
title: Kontakt
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">
                    {{content}}

                    <h3>Zapraszam do mojego (naszego?) biura</h3>
                    ul. Marcina Kasprzaka 00/00<br>
                    01-211 Warszawa<br>
                    //info o parkingu, klatce, piętrze etc<br><br>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.8140670293947!2d20.97083587726854!3d52.228595771986214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecdbe0e0e076b%3A0xcf1693936c960f48!2sKancelaria%20Radcy%20Prawnego%20Anna%20Kujawa-Ci%C4%85g%C5%82o!5e0!3m2!1spl!2spl!4v1684795259171!5m2!1spl!2spl"
                        width="100%" height="400" 
                        style="border:0;border-radius:4px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    
                </div>
            </div>
        </div>
    </div>
</div>